/* Esta hoja de estilos contiene todas las clases relacionadas con el estandar de la OET */



/* Estandariza todos los items de la barra de navegación y barra de título*/

/* Empieza Daniel */

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }

nav.navbar.topbar{
    background-color:#387C2C;
}

nav.navbar.menubar{
    background-color:#7BC143;
    height: 41px;
}

li.nav-item.menuItem{
    width: 120px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

li.nav-item.menuItem.active{
    /* background-color:#387C2C;*/
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

li.nav-item.menuItem:hover{
    text-decoration: none;
    font-weight: bold;
}

li.nav-item.menuItem:focus{

    font-weight: bold;
}

.menuLink{
    color: white;
}

.menuLink.underlined{
    text-decoration: underline;
    /*font-weight:normal;*/
}

.menuLink.boxed{
    padding: 2px;
    border: 2px solid white;
}

.menuLink:hover{
    color: #EEEEEE;
}

.menuLink:focus{
    color: #EEEEEE;
}

.menuLink.icon{
    font-size:40px;
}

.menuLink.icon:hover{
    text-decoration: none;
    font-weight: bold;
}
div.card {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

div.card.background {
    background: url(SignIn.jpg) no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.securityLink.Colored{
    color: white;
}

.securityLink.Colored:hover{
    color: #E5E5E5;
}

/*Termina Daniel*/
/*Empieza Esteban*/



/*Formatea los botones*/
.botonAceptar
{
    
    background-color:#7BC143;
    text-align:center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    float: right;
    margin-right: 2%;
    padding: 10px 24px;
    border-radius: 12px;
}

.botonAceptar:hover {
    background-color: #4CAF50 !important; 
 
}

.botonCancelar
{
    background-color:#F26631;
    text-align:center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    float: right;
    margin-right: 10px;
    padding: 10px 24px;
    border-radius: 12px;
}

.botonAccion
{
    background-color:#F26631;
    text-align:center;
    border-radius: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    float: right;
    margin-right: 10px;
   /* font-size:12px !important;
    text-align:center !important;
    height:12px !important;
    vertical-align: middle !important;*/
}

.botonAccion:hover {
    background-color: rgb(230, 92, 42) !important; 
 
}

.botonAgregar:hover {
    background-color: rgb(230, 92, 42) !important; 
 
}

.botonAgregar
{
    background-color:#F26631;
    text-align:center;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    float: right;
    margin-bottom: 30px;
    color:white !important;
    padding: 10px 24px;
    border-radius: 12px;
}



.botonCancelar:hover {
    background-color: rgb(230, 92, 42) !important; 
 
}



/*Formatea los titulos de cada vista*/

fieldset legend {
    border-bottom: 1px solid #B4B4B4;
    width: 100%;
    line-height: 2rem;
}

.titulo
{
    color:#7BC143;
}

.subtitulo
{
    color:#b4b4b4;
}

/*Formatea los campos de texto*/
input[type=text], input[type=number], input[type=password], input[type=text]:disabled
{
    border-radius: 13px;
    float: left; 
}



/*Formatea las tablas de los grids de los index*/

.gridIndex
{
    color:red !important;
    border-style: solid;
    border-color: #CCCCCC;
    white-space: nowrap;
}

.gridIndex a
{
    color:black !important;
    
}

.gridIndex th
{
    background-color:#7BC143;
    text-align:center;
}

.gridIndex td
{
    text-align:center;
}


.gridIndex tr:nth-child(even)
{
    background-color:white;
}

.gridIndex tr:nth-child(odd)
{
    background-color:white;
}


.field
{
    font-weight:bold;
}

.value
{
    margin-left: 15%;
}

.separator
{

    height:1px;
    background: #7BC143;
}
