.form-size{
    width: 70%;
    min-width: 200px;
    padding-left: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.form-section{
    background-color: whitesmoke;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:5%;
    margin-bottom:5%;
    border-radius: .55rem;
    box-shadow: 0rem 0rem 2.5rem -0.3rem grey;
    float: none;
}

html {
    overflow-y: scroll;
}

::placeholder { /* Most modern browsers support this now. */
    color: rgb(155, 155, 155) !important;
    opacity: 0.5;
}